.header {
	grid-column: left-sidebar-start / right-sidebar-end;
	grid-row: 1 / 2;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	display: flex;
	justify-content: right;
	box-shadow: 0 0 8px rgba(60, 209, 174, 0.2);
	padding: 8px 10%;
	transition: 0.4s;

	@media (max-width: 506px) {
		z-index: 10;
		box-shadow: 0 0 0 rgba(60, 209, 174, 0.6);
	}
}

.navbar {
	display: flex;
}

.navbar {
	@media (max-width: 506px) {
		padding: 5rem 1rem;
		flex-direction: column;
		position: absolute;
		right: -500px;

		transition: right 0.4s ease;
	}
}

.navbar a {
	font-size: 1rem;
	padding: 10px 10px;
	color: #0f0f0f;
	font-weight: 500;
	margin: 0 4px;
	text-decoration: none;

	& {
		@media (max-width: 506px) {
			border-bottom: 1px solid #ccc;
			margin: 0 2rem 0 0.2rem;
			font-size: 0.92rem;
			transition: all 0.2s ease-in-out;

			&:hover {
				transform: scale(1.02);
			}
		}
	}
}

.navbar.active {
	right: 0;
	height: 120vh;
	width: 80vw;
	background-color: #f3f7f6;
}

.profile-card {
	display: none;
	margin-top: 1rem;

	@media (max-width: 506px) {
		display: block;

		& .profile-header {
			display: flex;
			flex-direction: column;
			align-items: center;

			& > img {
				width: 7rem;
				height: 7rem;
				border-radius: 50%;
				outline: 1px solid #1ad1a5;
				margin-bottom: 1rem;
				transition: all 0.2s ease-in-out;
				cursor: pointer;

				&:hover {
					transform: scale(1.05);
					box-shadow: 0 0 6px rgba(38, 201, 163, 0.8);
				}
			}

			& p {
				line-height: 1.3rem;
				font-size: 0.9rem;
			}
		}

		& .profile-about {
			margin-top: 0.2rem;
			margin-bottom: 0.6rem;
			font-size: 0.92rem;
			font-family: $font-display;
			font-style: italic;
		}

		& .profile-socials {
			display: flex;
			justify-content: center;
			margin-bottom: 0.2rem;
			& > a {
				border: none;
				padding: 6px;
				margin: 0 6px;
				font-size: 1.4rem;
				color: #1ad1a5;
				transition: all 0.2s ease-in-out;

				&:hover {
					transform: scale(1.2);
				}
			}
		}
	}
}

#menu-icon {
	font-size: 2.4rem;
	cursor: pointer;
	z-index: 11;
	display: none;
	position: absolute;
	right: 3rem;
	top: 0.6rem;

	@media (max-width: 768px) {
		display: block;
	}
}

.logo {
	padding: 4px 0;
	position: absolute;
	left: 3%;
	top: 0.6rem;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	opacity: 0.8;

	&:hover {
		transform: scale(1.05);
		opacity: 1;
	}

	@media (max-width: 768px) {
		font-weight: 500;
		font-size: 1.3rem;
		left: 8%;
	}

	@media (max-width: 506px) {
		font-weight: 500;
		font-size: 1rem;
	}

	& img {
		border-radius: 50%;
		width: 2.3rem;
		outline: 1px solid #1ad1a5;

		@media (max-width: 506px) {
			width: 2rem;

			.navbar.active {
				display: none;
			}
		}
	}
}
